.cart_container {
    margin-top: 30px;
    margin-left: 90px;
    width: 80%;


    .cart_shipping {
        display: flex;
        border-bottom: 3px solid rgb(144, 194, 144);

        p {
            margin-top: 20px;
            margin-left: 20px;
        }
    }

    .cart_content {
        display: flex;
        margin-top: 20px;
        width: 70%;

        .cart_image {
            img {
                width: 200px;
                height: 200px;
            }

        }

        .cart_item {
            margin-left: 70px;
            width: 100%;

            h1 {
                color: green;
            }

            .cart_price {
                display: flex;
                justify-content: space-between;

                .cart_count {
                    width: 100px;
                    height: 30px;
                    text-align: center;


                }
            }
        }

    }

    .total {
        margin-top: 20px;
        border-top: 3px solid rgb(144, 194, 144);
        text-align: center;
        align-items: center;

        h1 {
            margin-top: 20px;
        }

        button {
            width: 400px;
            height: 50px;
            color: rgb(48, 40, 40);
            font-size: 30px;
            line-height: 17px;
            padding: 8px;
            border-radius: 11px;
            font-family: Georgia, serif;
            font-weight: normal;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            background-image: linear-gradient(to right, rgb(105, 212, 164) 0%, rgb(81, 181, 126) 50%, rgb(70, 217, 180) 100%);
            display: inline-block;
        }


    }


}