.payment_container {
    display: flex;
    width: 100%;


    .payment_input {}

    .payment_total {
        margin-left: 400px;

        .payment_img {
            height: 100px;
            width: 100px;
        }
    }
}