.payment_container {
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-around;

    .payment_input {}

    .payment_total {
        .payment_img {
            height: 100px;
            width: 200px;

            .payment_img-icon {
                width: 100%;
                height: 100%;
            }
        }
    }
}