@import "@varScss";

.navbar {
    height: $heightNavbar;
    background-color: rgb(123, 199, 199) !important;

    .container_fluid {
        .navbar-brand {
            font-size: $sizeLarge;
            margin-left: 10px;
            font-family:$fontTitle;
        }
    }

    .searchBox {
        margin-right: 15px;
        align-items: center;
        height: 100%;
        width: 300px;

        .icon {
            margin-left: 10px;

            .icon_img {
                margin-left: 30px;

                &:last-child {
                    margin-left: none;
                }
            }
        }
    }

    .avatarBox {
        width: 30px;
        border-radius: 50%;
        display: flex;
        background-color: rgb(81, 77, 77);

        .avatarImg {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            object-fit: fill;
        }
    }
}